@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --light-color: #fff;
  --logo-text-color: #000;
  --accent: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--logo-text-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: var(--accent);
}

.logo-footer {
  color: var(--light-color);
}

.hero {
  box-sizing: border-box;
  height: 600px;
  padding-top: 200px;
  background-color: var(--dark-background-color);
  text-align: center;
}

.hero-header {
  color: var(--light-color);
  line-height: 1.36;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.our-team {
  padding: 75px;
  background-color: var(--light-background-color);
}

.team-card {
  background-color: var(--light-color);
  text-align: center;
  font-size: 16px;
  width: 270px;
  height: 368px;
  border-radius: 0 0 4px 4px;
}

.team-position {
  line-height: 1.188;
  letter-spacing: 0.03em;
}
.footer {
  padding: 60px 215px;
  background-color: var(--dark-background-color);
  color: var(--light-color);
}

.header-2 {
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.header-3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.header-3,
.header-3-project {
  color: var(--secondary-text-color);
}

.header-3-project {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.header-4 {
  font-size: 14px;
  color: var(--secondary-text-color);
  line-height: 1.143;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  letter-spacing: 0.02em;
}

.link-navigation,
.link-contact {
  font-weight: 500;
  color: var(--secondary-text-color);
}

.link-footer {
  font-style: normal;
  color: var(--light-color);
  opacity: 0.6;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link-footer-address {
  opacity: 1;
}

.link:hover {
  color: var(--accent);
}

/* btn = button */
.btn {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--light-background-color);
  height: 38px;
  border: none;
  border-radius: 4px;
  padding: 0 22px;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.hero-btn {
  color: var(--light-color);
  background-color: var(--accent);
}

.btn.hero-btn {
  font-weight: 700;
  padding: 0 40px;
}

.project-type {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.strength-text {
  letter-spacing: 0.03em;
  line-height: 1.71;
}
